.navStyles {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.linksNavStyle {
  background-color: #280d4a;
  padding: 10px;
  margin-top: 25px;
  width: 80%;
  height: 5rem;
  display: flex;
  border-radius: 10px;
  margin-bottom: 30px;
}

.containerStyles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}

.linkStyles {
  font-size: 1.125rem;
  font-weight: bold;
  color: gray;
  text-decoration: none;
  margin-right: 1.5rem;
  cursor: pointer;
}

.imgStyles{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

